version: 2
registries:
  npm-npmjs:
    type: npm-registry
    url: https://registry.npmjs.org
    # Without username/password or token entry Dependabot gives [this error](https://github.com/GMZwinge/test-github/network/updates):
    #  ```
    #  Dependabot encountered the following error when parsing your .github/dependabot.yml:
    #  The property '#/registries/npm-npmjs/' of type object did not match one or more of the required schemas
    #  Please update the config file to conform with Dependabot's specification.
    #  ```
    #username: dummy
    # With this, if Dependabot gives [this error](https://github.com/GMZwinge/test-github/network/updates/858208586):
    #   Dependabot could not read a required secret. The secret DEPENDABOT_DUMMY_PASSWORD referenced in the config file could not be read.
    #   Please ensure the secret has been created and that this repo has access to it.
    # it may be because the secret is not under [Dependabot secrets](https://github.com/GMZwinge/test-github/settings/secrets/dependabot),
    # may be it is under [Actions secrets and variables](https://github.com/GMZwinge/test-github/settings/secrets/actions).
    #password: ${{ secrets.DEPENDABOT_DUMMY_PASSWORD }}
    # With this, if Dependabot gives this error:
    #   Dependabot could not read a required secret. The secret DEPENDABOT_DUMMY_TOKEN referenced in the config file could not be read.
    #   Please ensure the secret has been created and that this repo has access to it.
    # it may be because the secret is not under [Dependabot secrets](https://github.com/GMZwinge/test-github/settings/secrets/dependabot),
    # may be it is under [Actions secrets and variables](https://github.com/GMZwinge/test-github/settings/secrets/actions).
    token: ${{ secrets.DEPENDABOT_DUMMY_TOKEN }}
  npm-github:
    type: npm-registry
    url: https://npm.pkg.github.com
    token: ${{ secrets.DEPENDABOT_DUMMY_TOKEN }}
updates:
  - package-ecosystem: npm
    directory: /testDependabot
    schedule:
      interval: monthly
    groups:
      test:
        dependency-type: development
    registries:
      - npm-github
      # BUG: Dependabot doesn't seem to be using all the registries if a package is not found in the first registry.
      - npm-npmjs
