version: 2
registries:
  npm-npmjs:
    type: npm-registry
    url: https://registry.npmjs.org
    #token: ${{ secrets.DEPENDABOT_DUMMY_TOKEN }}
    username: dummy
    #password: ${{ secrets.DEPENDABOT_DUMMY_PASSWORD }}
updates:
  - package-ecosystem: npm
    directory: /testDependabot
    schedule:
      interval: monthly
    groups:
      test:
        dependency-type: development
    registries:
      - npm-npmjs
